<div id="sample">
    <div id="myDiagramDiv" style="border: 1px solid black; width: 100%; height: 460px; background: whitesmoke; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
        <canvas tabindex="0" width="1486" height="688" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 991px; height: 459px; cursor: auto;">
        </canvas>
        <div style="position: absolute; overflow: auto; width: 991px; height: 459px; z-index: 1;">
        <div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
</div>
<div>
    <h1>Interactive Application Interconnectivity diagram
    </h1>
    <button id="SaveButton" (click)="save()" disabled="">Save</button>
    <button id="loadDeatails" (click)="load()">Load</button>
    
  </div>